@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;
    background: #f4b41a;
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabeçalho-menu{
    display: flex;
    gap: 32px;
}

.cabeçalho-menu-item{
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.conteudo{
    border-top: 0.4px solid #fff2e7;
    padding: 10px;

}

.conteudo1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.img-social{
    padding-left: 30px;
}

.redes-sociais{
    font-family: 'Black Ops One', cursive;
    padding-left: 30px;
}

.conteudo2{
    border-top: 0.4px solid #fff2e7;
}

.text-conteudo2{
    font-family: 'Black Ops One', cursive;
}

.texto-conteudo2{
    margin: 30px;
    margin-left: 40px;
}